version: 2
jobs:
  build:
    # The primary container is an instance of the first list image listed. Your build commands run in this container.
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - run:
          name: node version
          command: node -v
      - run:
          name: npm version
          command: npm -v
      # - run:
      #     name: Update npm
      #     command: 'sudo npm install -g npm@latest'
      - run:
          name: configure npm for private modules
          command: |
            npm config set //registry.npmjs.org/:_authToken=$NPM_TOKEN
            npm whoami
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: install npm packages
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      - run:
          name: compile typescript
          command: npm run build
  test:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: run npm test
          command: npm test
      # - run:
      #     name: Generate code coverage
      #     command: './node_modules/.bin/nyc report --reporter=text-lcov'
      # - store_artifacts:
      #     path: test-results.xml
      #     prefix: tests
      # - store_artifacts:
      #     path: coverage
      #     prefix: coverage
  doc:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Generate docs
          command: |
            npm run build
            npm run doc
  deploy2development:
    docker:
      - image: google/cloud-sdk
    steps:
      - checkout
      - run:
          name: Dump Google Cloud Credentials to file
          command: echo ${GOOGLE_AUTH} > ~/gcp-key.json
      - run:
          name: Set NPM_TOKEN
          command: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ./.npmrc
      - run:
          name: Prepare app.yaml
          command: |
            echo "runtime: nodejs" >> ./app.yaml
            echo "env: flex" >> ./app.yaml
            echo "env_variables:" >> ./app.yaml
            echo "  NODE_ENV: 'development'" >> ./app.yaml
            echo "  NPM_TOKEN: '${NPM_TOKEN}'" >> ./app.yaml
            echo "  WAITER_PASSPORT_ISSUER: '${WAITER_PASSPORT_ISSUER_DEVELOPMENT}'" >> ./app.yaml
            echo "  WAITER_CLIENTS: '${WAITER_CLIENTS_DEVELOPMENT}'" >> ./app.yaml
            echo "  WAITER_DEVELOPER_EMAIL: '${WAITER_DEVELOPER_EMAIL_DEVELOPMENT}'" >> ./app.yaml
            echo "  REDIS_HOST: '${REDIS_HOST_DEVELOPMENT}'" >> ./app.yaml
            echo "  REDIS_PORT: ${REDIS_PORT_DEVELOPMENT}" >> ./app.yaml
            echo "  REDIS_KEY: '${REDIS_KEY_DEVELOPMENT}'" >> ./app.yaml
      - run:
          name: List files
          command: ls -la
      - run:
          name: Deploy to GCP app engine
          command: |
            # gcloud --quiet components update
            gcloud auth activate-service-account --key-file ~/gcp-key.json
            gcloud config set project ${GOOGLE_PROJECT_ID}
            gcloud --quiet app deploy ./app.yaml
  # prerelease:
  #   docker:
  #     - image: circleci/node:8.4
  #   steps:
  #     - checkout
  #     - restore_cache:
  #         key: dependency-cache-{{ checksum "package.json" }}
  #     - run:
  #         name: deploy to azure webapps development
  #         command: |
  #           git remote add prerelease ${DEPLOY_TARGET_REPOSITORY_PRERELEASE}
  #           git push prerelease master 
# Used for orchestrating all jobs.
workflows:
  version: 2

  build-test-doc:
    jobs:
      - build
      - test:
          requires:
            - build
      - doc:
          requires:
            - test
      - deploy2development:
          requires:
            - doc
          filters:
            branches:
              only: feature/WAITER-7
      # - prerelease:
      #     requires:
      #       - doc
      #     filters:
      #       branches:
      #         only: /feature\/.+-alpha.+/
      # - deploy:
      #     requires:
      #       - doc
      #     filters:
      #       branches:
      #         only: master

